<div class="row" style="justify-content: center; padding-top: 4rem;">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" [(ngModel)]="email" 
                        placeholder="Email address">
                    <button class="btn btn-primary" (click)="onFindMeetingsClick()">Find</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li *ngFor="let meeting of meetings; index as i" class="list-group-item">
                        {{meeting.name}} - {{localDateTime(meeting.startDate)}} - {{meeting.durationMinutes}} minutes
                        <button class="btn btn-danger" style="float: right;" 
                          (click)="onDeleteClick(i)">Delete</button>
                        <button class="btn btn-secondary" style="float: right; margin-right: .5rem;" 
                            (click)="onSwitchToMovingMeeting(i)">Move</button>
                        <div *ngIf="movingMeetingIndex === i" style="margin-top: 1rem;">
                            <input type="datetime-local" class="form-control" placeholder="" 
                                [(ngModel)]="newDate">
                            <button class="btn btn-success" style="float: right; margin-top: 1rem;" 
                                (click)="onMoveMeeting(i)">Move meeting</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>