<div class="row">
    <div class="col-sm-4 mx-auto">
        <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Meeting name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Start date</label>
                <input type="datetime-local" class="form-control" formControlName="startDate">
            </div>
            <div class="mb-3">
                <label class="form-label">Duration in minutes</label>
                <input type="number" min="10" max="100" class="form-control" formControlName="duration">
            </div>

            <div formArrayName="guests" style="margin-bottom: 1rem;">
                <div class="row" *ngFor="let guest of guests; let i = index" 
                [formGroupName]="i" style="margin-top: 1rem;">
                <div class="col">
                    <label class="form-label">Email address</label>
                    <input type="text"
                           class="form-control"
                           formControlName="email">
                  </div>
            </div>
            </div>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
                {{errorMsg}}
            </div>
            <div *ngIf="addedMeetingInfo" class="alert alert-success" role="alert">
                {{addedMeetingInfo}}
            </div>

            <button class="btn btn-secondary" type="button"
                    style="margin-right: 1rem;" (click)="onAddGuest()">Add guest</button>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>